# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg

# OS-specific files
.DS_Store
.Trashes
Thumbs.db
ehthumbs.db
*.stackdump

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Virtual environment
.venv/
venv/
env/

# Editor-specific files
*.swp
*.swo

# Flask-specific files
instance/
.flaskenv

# Database files
*.db
*.sqlite
*.sqlite3

# Uploaded files
uploads/

#dotenv files
.env
